<div class="wrapperConfirm hidden">
   <div class="modal">
      <img src="/media/warning.png" alt="">
      <h2>Tem certeza disso?</h2>
      <h4>Essa ação é irreversivel!</h4>
      <div>
         <a id='cancel'>Cancelar</a>
         <a id='confirm' class="red">Sim, Deletar!</a>
      </div>
   </div>
</div>