{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/CSS/student.css"/>
    <link rel="stylesheet" href="/CSS/card.css">
    <link rel="stylesheet" href="/CSS/table.css">
    <title>Professor</title>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="card table-container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h1>Educador(a)</h1>
                        </th>
                        <th>
                            <h1>Email</h1>
                        </th>
                        <th>
                            <h1>Ano escolar</h1>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>
                                <span style="background-image: url({{student.avatar_url}})"></span>{{student.name}}
                            </td>
                            <td>
                                {{student.email}}
                            </td>
                            <td>
                                {{ student.edu_level }}</td>
                            <td>
                                <a href="/alunos/{{ student.id }}"><img src="/media/perfil.png" alt=""></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/alunos/criar" id="new">Novo</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}