{% extends "layout.njk" %}

{% block head %}
   <link rel="stylesheet" href="/CSS/student.css"/>
   <link rel="stylesheet" href="/CSS/card.css">
   <title>Professor</title>
{% endblock %}

{% block content %}
   <div id="content">
      <div class="card">
         <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></section>
         <section class="details">
            <h2>Perfil</h2>
            <div class="item">
               <div>Nome</div>
               <div>{{ student.name }}</div>
            </div>
            <div class="item">
               <div>Idade</div>
               <div>{{ student.age }}
                  anos</div>
            </div>
            <div class="item">
               <div>Email</div>
               <div>{{ student.email }}</div>
            </div>
            <div class="item">
               <div>Grau de escolaridade</div>
               <div>{{ student.edu_level }}</div>
            </div>
            <div class="item">
               <div>Carga Horária</div>
               <div>{{ student.workload }}</div>
            </div>

            <a href="/alunos/{{ student.id }}/editar">Editar</a>
         </section>

      </div>
   </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}