{% extends "user/layout.njk" %}

{%block head %}
   <link rel="stylesheet" href="/CSS/user/main-page.css"/>
   <title>Foodfy error-404</title>
{% endblock %}

{%block content %}
   <div id="content"></div>
{% endblock %}