{% extends "layout.njk" %}

{% block head %}
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
   <link rel="icon" href="/media/favicon.ico" type="image/x-icon"/>
   <link rel="stylesheet" href="/CSS/curso.css"/>

   <title>{{curso.name}}</title>
{% endblock %}

{% block content %}
   <div id="content">
      <img src="{{curso.image}}" alt="">
      <h3>{{curso.description}}</h3>
      <a href="https://rocketseat.com.br/{{curso.id}}" target="_blank">link para o site</a>
   </div>
{% endblock %}

{% block scripts %}{% endblock %}