{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/CSS/styles.css"/>

    <title>Desafio3-1</title>
{% endblock %}

{% block content %}
    <div id="content">
        <section id="about">
            <div id="info">
                <div id="logo">
                    <img src="/media/logo.png" alt="logo"/>
                    <a id="empresa" href="https://rocketseat.com.br/" target="_blank">Rocketseat</a>
                </div>

                <h3>
                    <p>Acima de tudo, é fundamental ressaltar que a percepção das dificuldades é uma das consequências da gestão inovadora da qual fazemos parte.</p>
                    <p>As experiências acumuladas demonstram que a revolução dos costumes exige a precisão e a definição da gestão inovadora da qual fazemos parte.</p>
                    <p>A certificação de metodologias que nos auxiliam a lidar com a execução dos pontos do programa maximiza as possibilidades por conta das novas proposições.</p>
                </h3>
            </div>
            <div id="tecnologias">
                <h2>
                    As mesmas tecnologias
                    <p></p>
                    utilizadas por empresas como:
                </h2>
                <h3>Nubank, Netflix, Uber, Instagram e Airbnb</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Etc.</li>
                </ul>
            </div>
        </section>
        <section id="cards">
            <div class="card" id="Starter" onclick="abrirModal('starter')">
                <div class="card_number">
                    <h1>01</h1>
                </div>
                <img src="/media/starter.svg" alt=""/>
                <h2>Cursos gratuitos!</h2>
            </div>
            <div class="card" id="LaunchBase" onclick="abrirModal('launchbase')">
                <div class="card_number">
                    <h1>02</h1>
                </div>
                <img src="/media/launchBase.svg" alt=""/>
                <h2>Vagas abertas!</h2>
            </div>
            <div class="card" id="GoStack" onclick="abrirModal('gostack')">
                <div class="card_number">
                    <h1>03</h1>
                </div>
                <img src="/media/goStack.svg" alt=""/>
                <h2>Garanta sua vaga para a proxima turma!</h2>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/JS/menuJump.js"></script>
    <script src="/JS/modal.js"></script>
{% endblock %}

{% block modal %}
    <div class="modal desativado">
        <div>
            <a class="material-icons" onclick="fecharModal()">close</a>
            <a id="linkExt" href="" class="material-icons" onclick="fecharModal()" target="_blank">open_in_new</a>
        </div>
        <iframe src="" frameborder="0"></iframe>
    </div>
{% endblock %}