.card {
    display: grid;
    grid-template-columns: 40% 60%;

    width: 60%;
    height: 70%;
    margin-top: 5%;

    background-color: #26262c;
    box-shadow: 2px 2px 5px 5px black;

    overflow-x: hidden;
    overflow-y: auto;

    animation: card 500ms ease-in;
}

.avatar {
    margin-right: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #616896;
}

.avatar img {
    width: 60%;
}

.details {
    padding: 32px;
    position: relative;
}

.details h2 {
    font-size: 24px;
    font-weight: normal;
    color: #a970ff;
    margin-bottom: 24px;
}

.details .item {
    padding: 16px 0px;
    border-top: 1px solid #53535f50;
}

.details .item:first-of-type {
    border: none;
}

.details .item div:nth-child(1) {
    font-size: 12px;
    color: #a0a9b8;
    line-height: 24px;
    text-transform: uppercase;
}

.details .item input,
select {
    margin-top: 5px;
    font-size: 18px;
    color: #dedee3;
    background-color: #26262c;
    border: none;
    outline: none;
}

.details .item input[type='text'],
input[type='url'] {
    width: 100%;
}

.details .item input[type='radio'] {
    margin-right: 5px;
    color: red;
}

.details .item input::placeholder {
    color: #a0a9b850;
    font-size: 16px;
}

.details span {
    margin: 4px 8px 0px 0px;
    padding: 4px 8px;
    background-color: #3a3a3d;
    border-radius: 16px;
    display: inline-block;
}

.details a {
    position: absolute;
    right: 60px;
    bottom: 20px;
    font-size: 20px;
    color: #a970ff;
    cursor: pointer;
}

/* animation */
@keyframes card {
    from {
        box-shadow: none;
        opacity: 0;
        transform: translate3d(10px, 10px, 0);
    }
    to {
        opacity: 1;
    }
}
