.card {
    display: grid;
    grid-template-columns: 40% 60%;

    width: 60%;
    height: 75%;
    margin-top: 5%;

    background-color: #26262c;
    box-shadow: 2px 2px 5px 5px black;

    animation: card 500ms ease-in;
}

/* animation */

@keyframes card {
    from {
        box-shadow: none;
        opacity: 0;
        transform: translate3d(10px, 10px, 0);
    }
    to {
        opacity: 1;
    }
}

.avatar {
    margin-right: 16px;
}

.details {
    padding: 32px;
    position: relative;
}

.details h2 {
    font-size: 24px;
    font-weight: normal;
    color: #a970ff;
    margin-bottom: 24px;
}

.details .item {
    padding: 16px 0px;
    border-top: 1px solid #53535f50;
}

.details .item:first-of-type {
    border: none;
}

.details .item div:nth-child(1) {
    font-size: 12px;
    color: #a0a9b8;
    line-height: 24px;
    text-transform: uppercase;
}

.details .item div:nth-child(2) {
    font-size: 18px;
    color: #dedee3;
}

.details span {
    margin: 4px 8px 0px 0px;
    padding: 4px 8px;
    background-color: #3a3a3d;
    border-radius: 16px;
    display: inline-block;
}

.details a {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: #060627;
    border-radius: 16px;
    padding: 8px 60px;
    font-weight: bold;
    right: 35px;
}
