@import '/CSS/general/general.css';
@import '/CSS/admin/header.css';

#content #title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content #title h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 3%;
    margin-top: 4.5%;
}

#content #title a {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: right;

    padding: 9px 20px;
    background: #6558c3;
    border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

#content form .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

#content form .item span {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

#content form .item input,
textarea {
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 15px;
}

#content form .item input + input {
    margin-top: 10px;
}

#content form .item textarea {
    resize: none;
}

#content form .item h4 {
    font-weight: bold;
    font-size: 16px;
    color: #6558c3;
    margin-top: 14px;
    cursor: pointer;
}

.red {
    background-color: #dc4747 !important;
    margin-right: 5px;
}
