{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/CSS/homePage.css"/>

    <title>Desafio3-1</title>
{% endblock %}

{% block content %}
    <div id="content"></div>
{% endblock %}

{% block scripts %}{% endblock %}