@import '/CSS/general/general.css';
@import '/CSS/user/footer.css';

#content {
    min-height: 100vh;
}

#content div#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#content #title a {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    text-decoration: none;

    padding: 9px 20px;
    background: #6558c3;
    border-radius: 4px;
    border-radius: 4px;
    height: 37px;
    cursor: pointer;
}

#content img {
    border-radius: 15px;
    margin: 10px 0px;
    width: 100%;
}

#content h1,
h3 {
    text-align: center;
}

#content h1 {
    font-weight: bold;
    font-size: 36px;
}

#content h3 {
    font-size: 20px;
    color: #777777;
}

#content div {
    height: 30px;
    display: flex;
    flex-direction: row;

    margin: 20px 0px;
}

#content div * {
    margin-right: 8px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#content div h2 {
    font-weight: bold;
    font-size: 24px;
}

#content div h4 {
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    cursor: pointer;
}

#content li,
span {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    list-style-type: disc;
    list-style-position: inside;
}

#content span {
    white-space: pre-line;
}

.hidden {
    visibility: hidden;
    display: none;
}
